body {
  background-color: black;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 600vh;
}

#info {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #94a8bd;
  position: absolute;
  top: 10rem;
	width: 100%;
	text-align: center;
	z-index: 100;
  display:block;
  color: #94a8bd;
}

h1 {
  font-size: 5rem;
}

p {
  font-size: 1rem;
  margin-top: -2rem;
}

.button {
  height: 4rem;
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
  color: #94a8bd;
  border: 2px solid #94a8bd;
  font-size: 1.7rem;
  cursor: pointer;
}

#skills {
  margin-top: 580vh;
  margin-bottom: 5rem;
}

#contact, #home {
  position: fixed;
  bottom: 2rem;
  margin: 0 auto;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0;
  z-index: -1;
}

#home {
  height: 3rem;
}

.hidden {
  opacity: 0;
  z-index: -1;
}

#mail, #mail-adress {
  background-color: black;
  border: 2px solid #94a8bd;
  border-radius: 10px;
  padding: 0.7rem;
  color: #94a8bd;
}

#mail-adress {
  margin-top: -5rem;
}

#mail {
  margin-top: 1rem;
}

#submit {
  height: 3.3rem;
  margin-top: 1rem;
  font-size: 1.3rem;
  padding: 0 1rem 0 1rem;
}